.keyboard2 {
  ul {
    width: 784px;
  }

  ul, ol {
    list-style-type: none;
  }

  li {
    float: left;
  }

  .key{
    display: block;
    color: #aaa;
    font: bold 9pt arial;
    text-decoration: none;
    text-align: center;
    width: 44px;
    height: 41px;
    margin: 5px;
    background: #eff0f2;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-top: 1px solid #f5f5f5;
    -webkit-box-shadow:
    inset 0 0 25px #e8e8e8,
    0 1px 0 #c3c3c3,
    0 2px 0 #c9c9c9,
    0 2px 3px #333;
    -moz-box-shadow:
    inset 0 0 25px #e8e8e8,
    0 1px 0 #c3c3c3,
    0 2px 0 #c9c9c9,
    0 2px 3px #333;
    box-shadow:
    inset 0 0 25px #e8e8e8,
    0 1px 0 #c3c3c3,
    0 2px 0 #c9c9c9,
    0 2px 3px #333;
    text-shadow: 0px 1px 0px #f5f5f5;
    filter: dropshadow(color=#f5f5f5, offx=0, offy=1);

    span {
      display: block;
    }

    .m {
      margin: 3px 0 3px;
      font-weight: bold;
    }
  }

  .left {
    .key {
      padding-left: 4px;
      text-transform: uppercase;
      text-align: left;
    }

    span {
      position: absolute;
    }

    .m {
      margin: 1px 0 5px;
    }

    .s {
      margin: 1px 0 0 23px;
    }

    .p {
      margin: 23px 0 0;
    }
  }

  .key:active, .keydown {
    color: #888;
    background: #ebeced;
    margin: 7px 5px 3px;
    -webkit-box-shadow:
    inset 0 0 25px #ddd,
    0 0 3px #333;
    -moz-box-shadow:
    inset 0 0 25px #ddd,
    0 0 3px #333;
    box-shadow:
    inset 0 0 25px #ddd,
    0 0 3px #333;
    border-top: 1px solid #eee;
  }

  .top {
    .alt .m {
      margin: 0 0 3px;
    }

    .delete {
      .key {
        width: 72px;
      }

      span {
        text-align: right;
        margin: 23px 10px 0 0;
        font-size: 7.5pt;
      }
    }
  }

  .qwert {
    .tab {
      .key {
        width: 72px;
      }

      span {
        text-align: left;
        margin: 23px 0 0 10px;
        font-size: 7.5pt;
      }
    }
  }

  .asdfg {
    .caps {
      .key {
        width: 85px;
      }

      .p {
        display: block;
        background: #999;
        width: 4px;
        height: 4px;
        border-radius: 10px;
        margin: 9px 0 0 10px;
        -webkit-box-shadow: inset 0 1px 0 #666;
        -moz-box-shadow:inset 0 1px 0 #666;
        box-shadow:inset 0 1px 0 #666;
      }

      span {
        text-align: left;
        margin: 10px 0 0 10px;
        font-size: 7.5pt;
      }
    }

    .return {
      .key {
        width: 85px;
      }
      span {
        text-align: right;
        margin: 23px 10px 0 0;
        font-size: 7.5pt;
      }
    }
  }

  .zxcvb {
    .shift {
      span {
        text-align: left;
        margin: 23px 0 0 10px;
        font-size: 7.5pt;
        text-transform: lowercase;
      }

      .key {
        width: 112px;
      }

      &.right span {
        text-align: right;
        margin: 23px 10px 0 0;
        font-size: 7.5pt;
        text-transform: lowercase;
      }
    }
  }

  .bottom {
    span {
      display: block;
      text-align: left;
      margin: 31px 0 0 8px;
      font-size: 7.5pt;
      text-transform: lowercase;
    }

    .option.right span, .command.right span {
      display: block;
      text-align: right;
      margin: 31px 8px 0 0;
      font-size: 7.5pt;
      text-transform: lowercase;
    }

    .arrow span {
      display: block;
      margin: 9px 0 0;
    }

    .fn {
      height: 26px;
      width: 46px;

      span {
        display: block;
        margin: 14px 5px 0 0;
        text-align: right;
        font: bold 6pt arial;
        text-transform: uppercase;
      }
    }

    .fn, .control, .option, .command, .spacebar {
      height: 49px;
    }

    .control {
      width: 56px;
    }
    .option {
      width: 46px;
    }
    .command {
      width: 67px;
    }
    .spacebar {
      width: 226px;
    }

    .arrow img {
      border: none;
    }

    .ar-down {
      height: 23px;
      font-size: 8px;
    }

    .ar-up, .ar-left, .ar-right {
      height: 24px;
      font-size: 8px;
    }

    .ar-left, .ar-right {
      margin: 30px 5px 5px;
    }

    .ar-left:active, .ar-right:active {
      margin: 32px 5px 3px;
    }

    .ar-up {
      margin: 5px 5px 1px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    .ar-up:active {
      margin: 8px 5px -2px;
    }

    .ar-down {
      margin: 0 5px 5px; border-top-left-radius: 0px;
      border-top-right-radius: 0px;
    }

    .ar-down:Active {
      margin: 3px 5px 4px;
    }
  }
}










.keyboard {
    ul {
        list-style-type: none;
        width: 784px;
    }

    li {
        float: left;
    }

    .key{
        display: block;
        color: #aaa;
        font: bold 9pt arial;
        text-decoration: none;
        text-align: center;
        width: 44px;
        height: 41px;
        margin: 5px;
        background: #eff0f2;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border-top: 1px solid #f5f5f5;
        -webkit-box-shadow:
            inset 0 0 25px #e8e8e8,
            0 1px 0 #c3c3c3,
            0 2px 0 #c9c9c9,
            0 2px 3px #333;
        -moz-box-shadow:
            inset 0 0 25px #e8e8e8,
            0 1px 0 #c3c3c3,
            0 2px 0 #c9c9c9,
            0 2px 3px #333;
        box-shadow:
            inset 0 0 25px #e8e8e8,
            0 1px 0 #c3c3c3,
            0 2px 0 #c9c9c9,
            0 2px 3px #333;
        text-shadow: 0px 1px 0px #f5f5f5;
        filter: dropshadow(color=#f5f5f5, offx=0, offy=1);
    }

    .key:active, .keydown {
        color: #888;
        background: #ebeced;
        margin: 7px 5px 3px;
        -webkit-box-shadow:
            inset 0 0 25px #ddd,
            0 0 3px #333;
        -moz-box-shadow:
            inset 0 0 25px #ddd,
            0 0 3px #333;
        box-shadow:
            inset 0 0 25px #ddd,
            0 0 3px #333;
        border-top: 1px solid #eee;
    }

    .fn span {
        display: block;
        margin: 14px 5px 0 0;
        text-align: right;
        font: bold 6pt arial;
        text-transform: uppercase;
    }

    .numbers-row li a span {
        display: block;
    }

    .numbers-row li a b {
        margin: 3px 0 3px;
        display: block;
    }

    .numbers-row li .alt b {
        display: block;
        margin: 0 0 3px;
    }

    .numbers-row li .c46 span {
        text-align: right;
        margin: 23px 10px 0 0;
        font-size: 7.5pt;
        text-transform: lowercase;
    }

    .qwerty-row li a span {
        display: block;
        margin: 13px 0 0;
        text-transform: uppercase;
    }

    .qwerty-row li .c9 span {
        text-align: left;
        margin: 23px 0 0 10px;
        font-size: 7.5pt;
        text-transform: lowercase;
    }

    .qwerty-row li .alt b {
        display: block;
        margin: 3px 0 0;
    }

    .qwerty-row li .alt span {
        margin: 2px 0 0;
    }

    .asdfg-row li a span {
        display: block;
        margin: 13px 0 0;
        text-transform: uppercase;
    }

    .asdfg-row li .alt span {
        margin: 0; text-transform: lowercase;
    }

    .asdfg-row li .alt b {
        display: block;
        margin: 3px 0 0;
    }

    .asdfg-row li .c20 b {
        display: block;
        background: #999;
        width: 4px;
        height: 4px;
        border-radius: 10px;
        margin: 9px 0 0 10px;
        -webkit-box-shadow: inset 0 1px 0 #666;
        -moz-box-shadow:inset 0 1px 0 #666;
        box-shadow:inset 0 1px 0 #666;
    }

    .asdfg-row li .c20 span {
        text-align: left;
        margin: 10px 0 0 10px;
        font-size: 7.5pt;
    }

    .asdfg-row li .c13 span {
        text-align: right;
        margin: 23px 10px 0 0;
        font-size: 7.5pt;
    }

    .zxcvb-row li a span {
        display: block;
        margin: 13px 0 0;
        text-transform: uppercase;
    }

    .zxcvb-row li .c16 span {
        text-align: left;
        margin: 23px 0 0 10px;
        font-size: 7.5pt;
        text-transform: lowercase;
    }

    .zxcvb-row li:nth-child(12) .c16 span {
        text-align: right;
        margin: 23px 10px 0 0;
        font-size: 7.5pt;
        text-transform: lowercase;
    }

    .zxcvb-row li .alt b {
        display: block;
        margin: 4px 0 0;
    }

    .zxcvb-row li .alt span {
        margin: 0;
    }

    .bottom-row li #fn span, .bottom-row li #control span, .bottom-row li #optionleft span, .bottom-row li #commandleft span {
        display: block;
        text-align: left;
        margin: 31px 0 0 8px;
        font-size: 7.5pt;
        text-transform: lowercase;
    }

    .bottom-row li #optionright span, .bottom-row li #commandright span {
        display: block;
        text-align: right;
        margin: 31px 8px 0 0;
        font-size: 7.5pt;
        text-transform: lowercase;
    }

    .bottom-row ol li #left span, .bottom-row ol li #right span, .bottom-row ol li #up span, .bottom-row ol li #down span {
        display: block;
        margin: 9px 0 0;
    }

    .fn {
        height: 26px;
        width: 46px;
    }

    #delete {
        width: 72px;
    }
    #tab {
        width: 72px;
    }
    #caps {
        width: 85px;
    }
    #enter {
        width: 85px;
    }
    .c16 {
        width: 112px;
    }

    #fn, #control, .option, .command, #spacebar {
        height: 49px;
    }

    #control {
        width: 56px;
    }
    .option {
        width: 46px;
    }
    .command {
        width: 67px;
    }

    #spacebar {
        width: 226px;
    }

    #left img, #up img, #down img, #right img {
        border: none;
    }

    ul ol {
        list-style-type: none;
    }

    #down {
        height: 23px;
        font-size: 8px;
    }

    #up, #left, #right {
        height: 24px;
        font-size: 8px;
    }

    #left, #right {
        margin: 30px 5px 5px;
    }

    #left:active, #right:active {
        margin: 32px 5px 3px;
    }

    #up {
        margin: 5px 5px 1px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    #up:active {
        margin: 8px 5px -2px;
    }

    #down {
        margin: 0 5px 5px; border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    #down:Active {
        margin: 3px 5px 4px;
    }

    #paper1, #paper2, #paper3 {
        display: block;
        width: 500px;
        height: 200px;
        background: #fff;
        margin: 50px auto 20px;
        border: 1px solid #fff;
        padding: 20px;
        -webkit-box-shadow:
            inset 0 0 15px #f9f9f9,
            0 0 5px #e5e5e5;
        -moz-box-shadow:
            inset 0 0 15px #f9f9f9,
            0 0 5px #e5e5e5;
        box-shadow:
            inset 0 0 15px #f9f9f9,
            0 0 5px #e5e5e5;
    }

    #paper1 {
        margin: 50px auto 20px;
        -moz-transform: rotate(-3deg);
        -webkit-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        transform: rotate(-3deg);
        zoom: 1;
    }

    #paper2 {
        margin: -265px auto 0;
        -moz-transform: rotate(0.5deg);
        -webkit-transform: rotate(0.5deg);
        -o-transform: rotate(0.5deg);
        -ms-transform: rotate(0.5deg);
        transform: rotate(0.5deg);
        zoom: 1;
    }

    #paper3 {
        margin: -240px auto 100px;
        -moz-transform: rotate(-1.5deg);
        -webkit-transform: rotate(-1.5deg);
        -o-transform: rotate(-1.5deg);
        -me-transform: rotate(-1.5deg);
        transform: rotate(-1.5deg);
        zoom: 1;}
    #paper3:focus {
        outline: none;
    }
}
