.keyboard {
  ul {
    width: 784px;
  }

  ul, ol {
    list-style-type: none;
  }

  li {
    float: left;
  }

  .key {
    display: block;
    color: #aaa;
    font: bold 9pt arial;
    text-decoration: none;
    text-align: center;
    width: 44px;
    height: 41px;
    margin: 5px;
    background: #eff0f2;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-top: 1px solid #f5f5f5;
    -webkit-box-shadow:
    inset 0 0 25px #e8e8e8,
    0 1px 0 #c3c3c3,
    0 2px 0 #c9c9c9,
    0 2px 3px #333;
    -moz-box-shadow:
    inset 0 0 25px #e8e8e8,
    0 1px 0 #c3c3c3,
    0 2px 0 #c9c9c9,
    0 2px 3px #333;
    box-shadow:
    inset 0 0 25px #e8e8e8,
    0 1px 0 #c3c3c3,
    0 2px 0 #c9c9c9,
    0 2px 3px #333;
    text-shadow: 0 1px 0 #f5f5f5;
    filter: dropshadow(color=#f5f5f5, offx=0, offy=1);

    span {
      display: block;
    }

    .m {
      margin: 3px 0 3px;
      font-weight: bold;
    }
  }

  .key:active, .keydown {
    color: #888;
    background: #ebeced;
    margin: 7px 5px 3px;
    -webkit-box-shadow:
    inset 0 0 25px #ddd,
    0 0 3px #333;
    -moz-box-shadow:
    inset 0 0 25px #ddd,
    0 0 3px #333;
    box-shadow:
    inset 0 0 25px #ddd,
    0 0 3px #333;
    border-top: 1px solid #eee;
  }


  .left {
    .key {
      padding-left: 4px;
      text-transform: uppercase;
      text-align: left;
    }

    span {
      position: absolute;
    }

    .m {
      margin: 1px 0 5px;
      color: #CCCCCC;
    }

    .s {
      margin: 1px 0 0 23px;
      color: #868686;
    }

    .p {
      margin: 23px 0 0;
    }
  }

  &.mod {
    .m {
      color: #868686;
    }

    .left {
      .key {
        .m {
          color: #868686;
        }

        .s {
          color: #CCCCCC;
        }
      }
    }
  }

  &.mod-caps {
    .asdfg .caps {
      .m {
        background: #29DC26;
        -webkit-box-shadow: 0 0 5px #21E81F;
        -moz-box-shadow: 0 0 5px #21E81F;
        box-shadow: 0 0 5px #21E81F;
      }
    }
  }

  .top {
    .alt .m {
      margin: 0 0 3px;
    }

    .delete {
      .key {
        width: 72px;
      }

      span {
        text-align: right;
        margin: 23px 10px 0 0;
        font-size: 7.5pt;
      }
    }
  }

  .qwert {
    .tab {
      .key {
        width: 72px;
      }

      span {
        text-align: left;
        margin: 23px 0 0 10px;
        font-size: 7.5pt;
      }
    }
  }

  .asdfg {
    .caps {
      .key {
        width: 85px;
      }

      .m {
        display: block;
        background: #999;
        width: 4px;
        height: 4px;
        border-radius: 10px;
        margin: 9px 0 0 10px;
        -webkit-box-shadow: inset 0 1px 0 #666;
        -moz-box-shadow:inset 0 1px 0 #666;
        box-shadow:inset 0 1px 0 #666;
      }

      span {
        text-align: left;
        margin: 8px 0 0 10px;
        font-size: 7.5pt;
      }
    }

    .return {
      .key {
        width: 85px;
      }
      span {
        text-align: right;
        margin: 23px 10px 0 0;
        font-size: 7.5pt;
      }
    }
  }

  .zxcvb {
    .shift {
      span {
        text-align: left;
        margin: 23px 0 0 10px;
        font-size: 7.5pt;
        text-transform: lowercase;
      }

      .key {
        width: 112px;
      }

      &.right span {
        text-align: right;
        margin: 23px 10px 0 0;
        font-size: 7.5pt;
        text-transform: lowercase;
      }
    }
  }

  .bottom {
    span {
      display: block;
      text-align: left;
      margin: 31px 0 0 8px;
      font-size: 7.5pt;
      text-transform: lowercase;
    }

    .fn {
      .key {
        width: 46px;
      }

      .p {
        display: block;
        text-align: left;
        margin: 31px 0 0 8px;
        font-size: 7.5pt;
        text-transform: lowercase;
      }
    }

    .option.right, .command.right {
      span {
        text-align: right;
        margin: 31px 8px 0 0;
      }
    }

    .key {
      height: 49px;
    }

    .control .key {
      width: 56px;
    }
    .option .key {
      width: 46px;
    }
    .command .key {
      width: 67px;
    }
    .spacebar .key {
      width: 226px;
    }

    .arrow {
      span {
        display: block;
        margin: 9px 0 0;
        text-align: center;
      }

      .key {
        height: 24px;
        font-size: 8px;
      }
    }

    .ar-down {
      .key {
        height: 23px;
      }
    }

    .ar-left, .ar-right {
      .key {
        margin: 30px 4px 5px;

        span {
          font-size: 10pt;
          margin: 6px 0 0;
        }
      }
    }

    .ar-left:active, .ar-right:active {
      .key {
        margin: 32px 4px 3px;
      }
    }

    .ar-down, .ar-up {
      span {
        font-size: 7pt;
      }
    }

    .ar-up {
      .key {
        position: absolute;
        margin: 5px 4px 1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    .ar-up:active {
      .key {
        margin: 8px 4px -2px;
      }
    }

    .ar-down {
      .key {
        position: relative;
        z-index: 2;
        margin: 30px 4px 5px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}
