<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="double-display clearfix">
                <div class="col-xs-6">
                    <textarea class="form-control keyboard-display" rows="4" display></textarea>
                </div>
                <div class="col-xs-6">
                    <textarea class="form-control translate-display" rows="4" readonly></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
      <div class="keyboard clearfix">
        <ul ng-repeat="(group, chars) in macChars" class="{{group}}">
          <li ng-repeat="char in chars" ng-class="char.class" ng-click="charClick()">
            <a href class="key c{{char.keyCode}}">
              <span class="s">{{char.s}}</span>
              <span class="m">{{char.m}}</span>
              <span class="p">{{char.p}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
</div>
