<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <div class="double-display clearfix">
                <div class="col-xs-6">
                    <textarea class="form-control keyboard-display" rows="4" display></textarea>
                </div>
                <div class="col-xs-6">
                    <textarea class="form-control translate-display" rows="4" readonly></textarea>
                </div>
            </div>
        </div>
        <keyboard></keyboard>
    </div>
</div>