<div class="row">
  <div class="col-xs-12">
    <h1>Korean Keyboard - 한국어 키보드</h1>
    <div class="row">
      <div class="double-display clearfix">
          <div class="col-xs-12 col-md-6">
            <div class="btn-group">
              <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{languages.getSourceLanguageName()}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li ng-repeat="language in languages.getLanguages()"><a href ng-click="setLanguage('source', language.acronym)">{{language.name}}</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-6 hidden-xs">
            <div class="pull-right">
              <small>Translated by </small>
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{translator.getActiveAPIName()}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li ng-repeat="translateAPI in translator.getTranslateAPIs()"><a href ng-click="translator.setActiveAPI(translateAPI.name)">{{translateAPI.name}}</a></li>
                </ul>
              </div>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{languages.getTargetLanguageName()}} <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li ng-repeat="language in languages.getLanguages()"><a href ng-click="languages.setLanguage('target', language.acronym)">{{language.name}}</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <textarea id="language_display" class="form-control keyboard-display" rows="3" placeholder="Type your {{languages.getSourceLanguageName()}} text here..." ng-model="keyboardDisplay" ng-model-options="{ debounce: 1000 }" display></textarea>
          </div>
          <div class="col-xs-6 hidden-xs">
            <div class="translate-display">{{translatedDisplay}}</div>
          </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="row">
      <div class="keyboard clearfix" ng-class="[{'mod': keyboard.getModOn()}, {'mod-caps': keyboard.getModCaps()}]">
        <ul ng-repeat="(group, chars) in keyboard.getMacChars()" class="{{group}}">
          <li ng-repeat="char in chars" ng-class="char.class" ng-click="charClick($event, char.keyCode)">
            <a href class="key c{{char.keyCode}}" ng-class="{'keydown': char.active}">
              <span class="s">{{char.s}}</span>
              <span class="m">{{char.m}}</span>
              <span class="p">{{char.p}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
